/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  background-color: hsl(210, 46%, 95%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CONTAINER */
main {
  background-color: white;
  width: 85%;
  border-radius: 15px;
  overflow: hidden;
}

#drawers {
  width: 100%;
  margin-top: -15px;
  margin-bottom: -50px;
}

/* IMAGE */
.crop {
  overflow: hidden;
}

.container {
  padding: 25px;
}

/* CONTENT */
h1 {
  color: hsl(217, 19%, 35%);
  font-size: 1rem;
  margin-bottom: 15px;
  line-height: 25px;
}

p {
  font-size: 0.85rem;
  color: hsl(214, 17%, 51%);
  line-height: 20px;
}

/* PROFILE 1 */
.profile {
  margin-top: 30px;
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-img {
  border-radius: 50%;
  height: 50px;
}

.profile-name {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 700;
  color: hsl(217, 19%, 35%);
}

.share-img {
  height: 35px;
  padding: 10px;
  background-color: hsl(210, 46%, 95%);
  border-radius: 50%;
}

#share-img:hover {
  background-color: hsl(213, 18%, 61%);
}

/* PROFILE 2 (SHARE) */
.profile-share {
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: hsl(217, 19%, 35%);
  height: 70px;
  color: hsl(210, 46%, 95%);
}

h3 {
  font-weight: 400;
  opacity: 0.6;
  letter-spacing: 5px;
  font-size: 12px;
  margin-right: 10px;
}

.profile-share img {
  margin: 0 6px;
}

#share-img-hover {
  background-color: hsl(213, 18%, 61%);
}

#share-img-hover:hover {
  background-color: white;
}

/* FOOTER */
footer {
  position: absolute;
  bottom: 20px;
  width: 80%;
  text-align: center;
}
